<!DOCTYPE html>
<html>
<head>
<title>Ext JS View 예시</title>
<link rel="stylesheet" type="text/css"
	href="path/to/extjs/resources/css/ext-all.css">
<script type="text/javascript" src="path/to/extjs/ext-all.js"></script>
</head>
<body>
	<script type="text/javascript">
		Ext.onReady(function() {
			Ext.create('Ext.data.Store', {
				storeId : 'exampleStore',
				fields : [ 'name', 'email', 'phone' ],
				data : [ {
					name : 'Lisa',
					email : 'lisa@simpsons.com',
					phone : '555-111-1224'
				}, {
					name : 'Bart',
					email : 'bart@simpsons.com',
					phone : '555-222-1234'
				}, {
					name : 'Homer',
					email : 'homer@simpsons.com',
					phone : '555-222-1244'
				}, {
					name : 'Marge',
					email : 'marge@simpsons.com',
					phone : '555-222-1254'
				} ]
			});

			Ext.create('Ext.grid.Panel', {
				title : 'Simpsons',
				store : Ext.data.StoreManager.lookup('exampleStore'),
				columns : [ {
					text : 'Name',
					dataIndex : 'name'
				}, {
					text : 'Email',
					dataIndex : 'email',
					flex : 1
				}, {
					text : 'Phone',
					dataIndex : 'phone'
				} ],
				height : 200,
				width : 400,
				renderTo : Ext.getBody()
			});
		});
	</script>
</body>
</html>