<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>LIST</title>
<link rel="stylesheet" th:href="@{/extjs/resources/css/ext-all.css}">
<script th:src="@{/extjs/ext-all.js}"></script>
<script th:src="@{/js/boardApp.js}"></script>
</head>
<body>
	<div id="boardApp"></div>
	<!-- Ext JS 애플리케이션이 렌더링될 요소 -->

	<!-- 서버 사이드에서 제공하는 초기 데이터 (예시) -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var initialData = /*[[${posts}]]*/[];
		/*]]>*/
	</script>
</body>
</html>
<!-- http://localhost:8686/boot6/board/list -->
